# ignore everythings
/*
# except .config folder
!/.config
/.config/*
!/.config/alacritty
!/.config/bspwm
!/.config/picom
!/.config/polybar
!/.config/rofi
!/.config/sxhkd
!/.config/nvim
# except dot files 
!.gitignore
!.bashrc
!.zshrc
!.Xresources
!.xprofile
!.xinitrc
!.tmux.conf
!.ideavimrc
